In [1]:
import nltk
import csv 
import random
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
import re,string
from nltk import NaiveBayesClassifier
from sklearn.model_selection import train_test_split
from wordcloud import WordCloud
from nltk import NaiveBayesClassifier
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv(r'C:\Users\metrouser\Desktop\SPAM text message 20170820 - Data.csv')

In [5]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [7]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
df.columns=['label','messages']

In [12]:
df.describe()

       label                messages
count   5572                    5572
unique     2                    5157
top      ham  Sorry, I'll call later
freq    4825                      30

In [13]:
df['length']=df['messages'].apply(len)
df.sort_values(by='length',ascending=False).head()

     label                                           messages  length
1085   ham  For me the love should start with attraction.i...     910
1863   ham  The last thing i ever wanted to do was hurt yo...     790
2434   ham  Indians r poor but India is not a poor country...     629
1579   ham  How to Make a girl Happy? It's not at all diff...     611
2849   ham  Sad story of a Man - Last week was my b'day. M...     588

In [14]:
df['number']=df.label.map({'ham':0,'spam':1})
df.head()

  label                                           messages  length  number
0   ham  Go until jurong point, crazy.. Available only ...     111       0
1   ham                      Ok lar... Joking wif u oni...      29       0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155       1
3   ham  U dun say so early hor... U c already then say...      49       0
4   ham  Nah I don't think he goes to usf, he lives aro...      61       0

In [18]:
df.tail()

     label                                           messages  length  number
5567  spam  This is the 2nd time we have tried 2 contact u...     160       1
5568   ham               Will ü b going to esplanade fr home?      36       0
5569   ham  Pity, * was in mood for that. So...any other s...      57       0
5570   ham  The guy did some bitching but I acted like i'd...     125       0
5571   ham                         Rofl. Its true to its name      26       0

In [19]:
df[df['number']==0]

     label                                           messages  length  number
0      ham  Go until jurong point, crazy.. Available only ...     111       0
1      ham                      Ok lar... Joking wif u oni...      29       0
3      ham  U dun say so early hor... U c already then say...      49       0
4      ham  Nah I don't think he goes to usf, he lives aro...      61       0
6      ham  Even my brother is not like to speak with me. ...      77       0
...    ...                                                ...     ...     ...
5565   ham                                       Huh y lei...      12       0
5568   ham               Will ü b going to esplanade fr home?      36       0
5569   ham  Pity, * was in mood for that. So...any other s...      57       0
5570   ham  The guy did some bitching but I acted like i'd...     125       0
5571   ham                         Rofl. Its true to its name      26       0

[4825 rows x 4 columns]

In [20]:
df[df['number']==0].describe()

            length  number
count  4825.000000  4825.0
mean     71.448290     0.0
std      58.434864     0.0
min       2.000000     0.0
25%      33.000000     0.0
50%      52.000000     0.0
75%      93.000000     0.0
max     910.000000     0.0

In [21]:
df[df.length==910].messages.iloc[0]

"For me the love should start with attraction.i should feel that I need her every time around me.she should be the first thing which comes in my thoughts.I would start the day and end it with her.she should be there every time I dream.love will be then when my every breath has her name.my life should happen around her.my life will be named to her.I would cry for her.will give all my happiness and take all her sorrows.I will be ready to fight with anyone for her.I will be in love when I will be doing the craziest things for her.love will be when I don't have to proove anyone that my girl is the most beautiful lady on the whole planet.I will always be singing praises for her.love will be when I start up making chicken curry and end up makiing sambar.life will be the most beautiful then.will get every morning and thank god for the day because she is with me.I would like to say a lot..will tell later.."

In [22]:
def text_process(mess):
    STOPWORDS=stopwords.words('english')+['u','ü','ur','4','2','im','dont','doin','ure']
    nopunc=[char for char in mess if char not in string.punctuation]
    nopunc=''.join(nopunc)
    return' '.join([word for word in nopunc.split() if word.lower() not in STOPWORDS])

In [23]:
df['messages'].head(6).apply(text_process)

0    Go jurong point crazy Available bugis n great ...
1                                Ok lar Joking wif oni
2    Free entry wkly comp win FA Cup final tkts 21s...
3                      dun say early hor c already say
4               Nah think goes usf lives around though
5    FreeMsg Hey darling 3 weeks word back Id like ...
Name: messages, dtype: object

In [24]:
df['updated_msg']=df.messages.apply(text_process)

In [25]:
type(stopwords.words('english'))

list

In [26]:
df.head()

,label,messages,length,number,updated_msg
0,ham,"Go until jurong point, crazy.. Available only ...",111,0,Go jurong point crazy Available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,29,0,Ok lar Joking wif oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,1,Free entry wkly comp win FA Cup final tkts 21s...
3,ham,U dun say so early hor... U c already then say...,49,0,dun say early hor c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,0,Nah think goes usf lives around though

In [28]:
from collections import Counter
words=df[df.label=='ham'].updated_msg.apply(lambda x:[word.lower() for word in x.split()])
ham_words=Counter()
for msg in words:
    ham_words.update(msg)
print(ham_words.most_common(50))

[('get', 303), ('ltgt', 276), ('ok', 273), ('go', 250), ('ill', 238), ('got', 232), ('know', 232), ('like', 231), ('call', 231), ('come', 227), ('good', 224), ('love', 190), ('time', 189), ('day', 188), ('going', 167), ('want', 164), ('one', 163), ('home', 160), ('lor', 160), ('need', 157), ('sorry', 153), ('still', 147), ('see', 138), ('n', 137), ('later', 134), ('da', 131), ('r', 131), ('back', 129), ('think', 128), ('well', 127), ('today', 125), ('send', 123), ('tell', 121), ('cant', 119), ('hi', 117), ('take', 112), ('oh', 112), ('much', 112), ('night', 109), ('happy', 106), ('hey', 106), ('great', 100), ('way', 100), ('hope', 100), ('pls', 98), ('work', 97), ('wat', 95), ('thats', 95), ('give', 94), ('dear', 94)]

In [29]:
from collections import Counter
words=df[df.label=='spam'].updated_msg.apply(lambda x:[word.lower() for word in x.split()])
spam_words=Counter()
for msg in words:
    spam_words.update(msg)
print(spam_words.most_common(50))

[('call', 344), ('free', 216), ('txt', 150), ('mobile', 123), ('text', 120), ('stop', 115), ('claim', 111), ('reply', 101), ('prize', 90), ('get', 83), ('new', 69), ('send', 68), ('nokia', 65), ('cash', 62), ('urgent', 62), ('win', 60), ('service', 55), ('contact', 55), ('please', 52), ('16', 51), ('guaranteed', 50), ('customer', 49), ('week', 49), ('tone', 48), ('per', 46), ('phone', 45), ('chat', 42), ('18', 41), ('awarded', 38), ('latest', 36), ('draw', 36), ('£1000', 35), ('line', 35), ('mins', 34), ('receive', 33), ('camera', 33), ('1', 33), ('box', 33), ('every', 33), ('message', 32), ('po', 32), ('holiday', 32), ('landline', 32), ('shows', 31), ('150ppm', 31), ('£2000', 31), ('go', 31), ('number', 30), ('apply', 29), ('code', 29)]

In [30]:
X=df.updated_msg
y=df.number
print(X.shape)
print(y.shape)

(5572,)
(5572,)

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y, random_state=1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4179,)
(1393,)
(4179,)
(1393,)

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
vector=CountVectorizer()
vector.fit(X_train)

CountVectorizer()

In [33]:
X_train_d=vector.transform(X_train)

In [34]:
X_train_d=vector.fit_transform(X_train)

In [35]:
X_train_d

<4179x7974 sparse matrix of type '<class 'numpy.int64'>'
	with 34596 stored elements in Compressed Sparse Row format>

In [36]:
X_test_d=vector.transform(X_test)

In [37]:
from sklearn.feature_extraction.text import TfidfTransformer

tfidf_transformer = TfidfTransformer()
tfidf_transformer.fit(X_train_d)
tfidf_transformer.transform(X_train_d)

<4179x7974 sparse matrix of type '<class 'numpy.float64'>'
	with 34596 stored elements in Compressed Sparse Row format>

In [38]:
from sklearn.naive_bayes import MultinomialNB
nb= MultinomialNB()

In [39]:
nb.fit(X_train_d,y_train)

MultinomialNB()

In [40]:
y_pred_class=nb.predict(X_test_d)

In [41]:
from sklearn import metrics 
metrics.accuracy_score(y_test, y_pred_class)

0.9877961234745154